html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: white;
    font-family: "Palatino Linotype";
}

body {
    background-image: url("https://zupimages.net/up/20/23/nd3e.png");
    background-size: cover;
    background-position: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: unset;
    margin: 0;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Page 1 (main) */

.back-main {
    height: 100vh;
    width: 100%;
    padding: 3.75rem;
}

.back-main img {
    width: 100%;
    max-width: 1192px;
    max-height: 543px;
}

/* Page 2 (carac perso) */

.page2 {
    height: 100vh;
    width: 100%;
    padding: 3.75rem;
}

.page2-max {
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

.page2-perso {
    width: 60%;
    height: 100%;
}

.perso {
    width: 100%;
    max-width: 350px;
}

.hr {
    width: 45%;
    height: 1px;
    margin-bottom: 30px;
    background-color: white;
}

.stats {
    width: 100%;
    max-width: 300px;
}

.page2-button {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page2-button img {
    width: 100%;
    cursor: pointer;
}

/* */

/* Page 3 */

.map1 {
    background-image: url("https://lh5.googleusercontent.com/j5KAVyN9QXiW5RME21aw_zL795lmAM2PYb9t1iuagOMQke-jXteDRB_VXR0-Y5A2uc64LYcpaXsystooaM1CTLmMtjv-j4fRu0dGsoBecS97Q26TiNzhPErNDsCts2_tiJ8IVsLrlzE");
}

.map2 {
    background-image: url("https://lh4.googleusercontent.com/EY7GaFApXjQxlPYvrSITnUlCONNWRJddAw4t-vBJ5hk6_71Ew5xeOLZsEvrMKR7rZ2kYRdCpHHPCC-DOeUPF2ldZuvM5lh5OW4HANkkZbnBhovDRN9wGazAgGdXIhakq63aeP5TUujs");
}

.map3 {
    background-image: url("https://lh3.googleusercontent.com/VzxdzLVNPiG0WDgX3c5umUVrTqNsDAIYeXcj2S4UDUZslWHNIma4TAUFQnXDEG5SrtC-na8zbRkMTrQflJVNvZnzSSirlkGONXJGxX5x1i33afQuwUirwCw761TnpwZ1E8frfoWVzR8");
}

.map4 {
    background-image: url("https://lh5.googleusercontent.com/S6Nmfpc7W6WlffR75JTIX6S5vPu8xIYB9fNSPQ3tE-XrRClo_HHvBdAVO312KDEebKwSAXDgOheKPBwWLgOilN3PfITpin4GwBz_EhLuLYre4ph1vec07LRF7awdQV3UPveu6CwrmR8");
}

.map5 {
    background-image: url("https://lh4.googleusercontent.com/G3h-gzJbtooAmDABV92R6jI_H7eilLcGW3Su_sDFHfFMFPxPkDxsSQ18FlgMT_u-hJrBFsgykh03Ch2OEZSxt5gAJOl-ninqT0Np3w0elVFva7hPL1u_kToXHIPhgoJAIHpwuqBbWjQ");
}

.map1, .map2, .map3, .map4, .map5 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.carousel-caption h3 {
    font-weight: bold;
    font-size: 1.2rem;
}

.video {
    position: fixed;
    z-index: -100;
}

.download-link {
    position: relative;
    top: 90%;
    left: 50%
}

.download-link button {
    border-radius: 0;
}